<div class="row">
    <div class="cols-xs-12">
        <form action="" (ngSubmit)="addItem(f)" #f="ngForm">

            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" required id="name" ngModel >
                </div>
                <div class="col-sm-5 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" class="form-control" name="amount" 
                    pattern="^[1-9]+[0-9]*$"
                    required id="name"  ngModel >
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                        <button class="btn btn-success" [disabled]="! f.valid" type="submit"  > {{editMode? 'Update':'Add'}}</button>
                        <button *ngIf="editMode" 
                        class="btn btn-danger"  (click)="onDelete()" type="button"> Delete</button>
                        <button class="btn btn-primary" (click)="clearForm()" type="button"> Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
